---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2020",
    title: "Software Developer",
    company: "Jalisoft",
    description:
      "At Jalisoft I created many solutions for Universidad del Valle de Mexico one of them is a system that allows instructors to create and deliver various types of assessments to students. Another project for this univeristy was a Schedule Control System for managing faculty schedules within institutions. Also, I worked on a project for another client which was Point-of-Sale Solution for retail businesses enabling real-time monitoring and integration of sales, inventory, and customer data. ",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
